/* ========== FAB BUTTON ========== */
.fab {
  position: fixed;
  bottom: 50px;
  right: 22px;
  background: rgba(40, 98, 235, 1);
  color: #fff;
  border: none;
  border-radius: 999px;
  padding: 14px 16px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0,0,0,.25);
  z-index: 70;
  transition: transform .25s ease, box-shadow .25s ease;
}

.fab.open {
  transform: rotate(45deg) scale(1.05);
  box-shadow: 0 14px 28px rgba(0,0,0,.3);
}

/* ========== OVERLAY ========== */
.overlay {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(.5px);
  background: rgba(0,0,0,.1);
  z-index: 50;

  opacity: 0;
  pointer-events: none;
  transition: opacity .25s ease;
}

.overlay.open {
  opacity: 1;
  pointer-events: auto;
}

/* ========== CHATBOX ========== */
.chatBox {
  position: fixed;
  bottom: 60px;
  right: 10px;
  width: 340px;
  height: 500px;
  background: white;
  border-radius: 14px;
  box-shadow: 0 20px 40px rgba(0,0,0,.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 60;

  opacity: 0;
  transform: translateY(20px) scale(.95);
  transition: opacity .25s ease, transform 0.7s ease;
  pointer-events: none;
}

.chatBox.open {
  opacity: 1;
  transform: translateY(0) scale(1);
  pointer-events: auto;
}

/* HEADER */
.header {
  background: rgba(40, 98, 235, 1);
  color: white;
  padding: 10px 12px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close {
  cursor: pointer;
  opacity: .9;
}

/* MESSAGES */
.messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background: #fafafa;
  display: flex;
  flex-direction: column;
}

/* USER BUBBLE */
.userBubble {
  background: #dbeafe;
  padding: 8px 10px;
  border-radius: 12px;
  align-self: flex-end;
  max-width: 70%;
  margin: 6px 0;
}

/* BOT BUBBLE */
.botBubble {
  background: #eeeeee;
  padding: 8px 10px;
  border-radius: 12px;
  align-self: flex-start;
  max-width: 80%;
  margin: 6px 0;
}

/* TYPING ANIMATION */
.typing {
  width: 40px;
  display: flex;
  gap: 4px;
}

.typing span {
  width: 6px;
  height: 6px;
  background: #666;
  border-radius: 50%;
  animation: blink 1.2s infinite ease-in-out;
}

.typing span:nth-child(2) { animation-delay: .2s; }
.typing span:nth-child(3) { animation-delay: .4s; }

@keyframes blink {
  0%, 80%, 100% { opacity: .2; }
  40% { opacity: 1; }
}

/* INPUT ROW */
.inputRow {
  border-top: 1px solid #ddd;
  padding: 8px;
  display: flex;
  gap: 6px;
}

.inputRow input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.inputRow button {
  background: rgba(40, 98, 235, 1);
  color: white;
  padding: 6px 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  width: 80px;
}
